power-automate-solution/flows/SendCopilotPromotionCards.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "name": "Send Copilot Promotion Cards",
    "description": "Sends Adaptive Card messages to Teams users promoting Microsoft 365 Copilot Chat.",
    "version": "1.0.0",
    "author": "Copilot Chat Promotion Kit"
  },
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    },
    "TenantId": {
      "defaultValue": "",
      "type": "String",
      "metadata": {
        "description": "Your Microsoft 365 tenant ID (GUID)"
      }
    },
    "ClientId": {
      "defaultValue": "",
      "type": "String",
      "metadata": {
        "description": "Azure AD App Registration Client ID"
      }
    },
    "ClientSecret": {
      "defaultValue": "",
      "type": "SecureString",
      "metadata": {
        "description": "Azure AD App Registration Client Secret"
      }
    },
    "SharePointSiteUrl": {
      "defaultValue": "",
      "type": "String",
      "metadata": {
        "description": "SharePoint site URL containing the Users list"
      }
    }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Button",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "campaignWeek": {
              "type": "string",
              "title": "Campaign Week",
              "enum": [
                "1",
                "2",
                "3",
                "4"
              ],
              "default": "1"
            },
            "userType": {
              "type": "string",
              "title": "User Type",
              "enum": [
                "Licensed",
                "NonLicensed"
              ],
              "default": "Licensed"
            },
            "testMode": {
              "type": "boolean",
              "title": "Test Mode",
              "default": true
            }
          }
        }
      }
    }
  },
  "actions": {
    "Initialize_Variables": {
      "type": "Scope",
      "actions": {
        "Init_CurrentWeek": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CurrentWeek",
                "type": "string",
                "value": "@{coalesce(triggerBody()?['campaignWeek'], '1')}"
              }
            ]
          },
          "runAfter": {}
        },
        "Init_CurrentUserType": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CurrentUserType",
                "type": "string",
                "value": "@{coalesce(triggerBody()?['userType'], 'Licensed')}"
              }
            ]
          },
          "runAfter": {
            "Init_CurrentWeek": [
              "Succeeded"
            ]
          }
        },
        "Init_TestMode": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestMode",
                "type": "boolean",
                "value": "@{coalesce(triggerBody()?['testMode'], true)}"
              }
            ]
          },
          "runAfter": {
            "Init_CurrentUserType": [
              "Succeeded"
            ]
          }
        },
        "Init_AdaptiveCardJson": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AdaptiveCardJson",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Init_TestMode": [
              "Succeeded"
            ]
          }
        },
        "Init_AccessToken": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AccessToken",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Init_AdaptiveCardJson": [
              "Succeeded"
            ]
          }
        },
        "Init_SuccessCount": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SuccessCount",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "runAfter": {
            "Init_AccessToken": [
              "Succeeded"
            ]
          }
        },
        "Init_FailureCount": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FailureCount",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "runAfter": {
            "Init_SuccessCount": [
              "Succeeded"
            ]
          }
        }
      },
      "runAfter": {}
    },
    "Get_OAuth_Token": {
      "type": "Http",
      "inputs": {
        "method": "POST",
        "uri": "https://login.microsoftonline.com/@{parameters('TenantId')}/oauth2/v2.0/token",
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "body": "grant_type=client_credentials&client_id=@{parameters('ClientId')}&client_secret=@{parameters('ClientSecret')}&scope=https://graph.microsoft.com/.default"
      },
      "runAfter": {
        "Initialize_Variables": [
          "Succeeded"
        ]
      }
    },
    "Set_AccessToken": {
      "type": "SetVariable",
      "inputs": {
        "name": "AccessToken",
        "value": "@{body('Get_OAuth_Token')?['access_token']}"
      },
      "runAfter": {
        "Get_OAuth_Token": [
          "Succeeded"
        ]
      }
    },
    "Select_Adaptive_Card": {
      "type": "Switch",
      "expression": "@concat(variables('CurrentUserType'), '_Week', variables('CurrentWeek'))",
      "cases": {
        "Licensed_Week1": {
          "case": "Licensed_Week1",
          "actions": {
            "Set_Card_Licensed_Week1": {
              "type": "SetVariable",
              "inputs": {
                "name": "AdaptiveCardJson",
                "value": "{\"type\": \"AdaptiveCard\", \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\", \"version\": \"1.6\", \"body\": [{\"type\": \"ColumnSet\", \"columns\": [{\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://uhf.microsoft.com/images/microsoft/RE1Mu3b.png\", \"size\": \"Medium\", \"horizontalAlignment\": \"Left\"}]}, {\"type\": \"Column\", \"width\": \"stretch\", \"items\": []}, {\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://it.tamu.edu/microsoft-365/images/logos/microsoft-365copilotchat-logo-static.png\", \"size\": \"Small\", \"horizontalAlignment\": \"Right\"}]}]}, {\"type\": \"TextBlock\", \"text\": \"\\u2728 See GPT-5 in Action \\u2014 Try This Prompt\", \"wrap\": true, \"weight\": \"Bolder\", \"size\": \"Large\", \"spacing\": \"Medium\"}, {\"type\": \"TextBlock\", \"text\": \"\\n*Want to experience the leap from GPT-4 to GPT-5?* \\u2014 just click the \\u201c**Try GPT-5**\\u201d button on the top right and run the prompt to see the difference!\\n\\nHere\\u2019s a *smart prompt* for you to try out:\", \"wrap\": true, \"spacing\": \"Small\"}, {\"type\": \"TextBlock\", \"text\": \"\\ud83e\\udde0 **Prompt:**\\n\\u201cI want to make my workday more efficient. Suggest a schedule that balances deep work, collaboration, and admin tasks\\u2014while leaving space for unexpected priorities.\\u201d\\n\\n\", \"wrap\": true, \"spacing\": \"Medium\", \"fontType\": \"Default\"}, {\"type\": \"TextBlock\", \"text\": \"\\ud83d\\udd0d **What you\\u2019ll notice:**\\n- GPT-4 offers a basic time-blocking approach.\\n- GPT-5 creates a dynamic, role-aware plan that anticipates interruptions and aligns with productivity best practices.\", \"wrap\": true, \"spacing\": \"Medium\"}, {\"type\": \"TextBlock\", \"text\": \"\\ud83c\\udfaf **Why it matters:**\\nSmarter Copilot = better planning, fewer distractions, and more impact.\", \"wrap\": true, \"spacing\": \"Medium\"}], \"actions\": [{\"type\": \"Action.OpenUrl\", \"title\": \"\\ud83d\\udc49 Try it now in Copilot and feel the upgrade!\", \"url\": \"https://m365.cloud.microsoft\"}]}"
              },
              "runAfter": {}
            }
          }
        },
        "Licensed_Week2": {
          "case": "Licensed_Week2",
          "actions": {
            "Set_Card_Licensed_Week2": {
              "type": "SetVariable",
              "inputs": {
                "name": "AdaptiveCardJson",
                "value": "{\"type\": \"AdaptiveCard\", \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\", \"version\": \"1.6\", \"body\": [{\"type\": \"ColumnSet\", \"columns\": [{\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://uhf.microsoft.com/images/microsoft/RE1Mu3b.png\", \"size\": \"Medium\", \"horizontalAlignment\": \"Left\"}]}, {\"type\": \"Column\", \"width\": \"stretch\"}, {\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://store-images.s-microsoft.com/image/apps.21661.9007199267161390.afb6b8cd-d194-4a99-b633-03cd80118a21.e9a094be-ee73-4e19-8cdf-49a27b0974ed?h=115\", \"size\": \"Small\", \"horizontalAlignment\": \"Right\", \"height\": \"45px\"}]}]}, {\"type\": \"ColumnSet\", \"columns\": [{\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://adoption.microsoft.com/wp-content/uploads/2025/06/icon-researcher-agent.png\", \"size\": \"Small\", \"height\": \"35px\", \"horizontalAlignment\": \"Center\"}]}, {\"type\": \"Column\", \"width\": \"stretch\", \"items\": [{\"type\": \"TextBlock\", \"text\": \"   Try Researcher in Copilot!\", \"wrap\": true, \"weight\": \"Bolder\", \"size\": \"Large\", \"spacing\": \"Medium\"}], \"verticalContentAlignment\": \"Center\"}]}, {\"type\": \"TextBlock\", \"text\": \"\\n\\n**Need quick insights on any topic?** Use the Researcher agent to explore trends, summarize findings, and get strategic next steps \\u2014 powered by GPT-5.\", \"wrap\": true, \"spacing\": \"MEdium\"}, {\"type\": \"TextBlock\", \"text\": \"\\ud83d\\udca1 **Prompt:**\\n\\u201cI\\u2019ve got my quarterly business review coming up with [company name]. Create a comprehensive report about all the work we\\u2019ve done with them so far. Include the documents, meetings, emails and any external news that\\u2019s relevant to the work we\\u2019ve been doing for them\\u201d\\n\\n\", \"wrap\": true, \"spacing\": \"Medium\", \"fontType\": \"Default\"}, {\"type\": \"TextBlock\", \"text\": \" **\\ud83c\\udfafWhy use the Researcher agent?**\\n- Built for deep dives and smart synthesis\\n- Powered by **GPT-5** for sharper context and faster insight generation\", \"wrap\": true, \"spacing\": \"Medium\"}, {\"type\": \"TextBlock\", \"text\": \"\\u2728 **How to find it:\\u2014**\\n Open Copilot. Click on Tools in the prompt window and select ***Researcher***. \", \"wrap\": true, \"spacing\": \"Medium\"}], \"actions\": [{\"type\": \"Action.OpenUrl\", \"title\": \"\\ud83d\\udd0d Click to find your assistant for deep research at work!\", \"url\": \"https://m365.cloud.microsoft/chat/?titleId=P_552e6eda-fc18-7fb9-0ef6-1bf2de3393e4\"}]}"
              },
              "runAfter": {}
            }
          }
        },
        "Licensed_Week3": {
          "case": "Licensed_Week3",
          "actions": {
            "Set_Card_Licensed_Week3": {
              "type": "SetVariable",
              "inputs": {
                "name": "AdaptiveCardJson",
                "value": "{\"type\": \"AdaptiveCard\", \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\", \"version\": \"1.6\", \"body\": [{\"type\": \"ColumnSet\", \"columns\": [{\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://uhf.microsoft.com/images/microsoft/RE1Mu3b.png\", \"size\": \"Medium\", \"horizontalAlignment\": \"Left\"}]}, {\"type\": \"Column\", \"width\": \"stretch\"}, {\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://store-images.s-microsoft.com/image/apps.21661.9007199267161390.afb6b8cd-d194-4a99-b633-03cd80118a21.e9a094be-ee73-4e19-8cdf-49a27b0974ed?h=115\", \"size\": \"Small\", \"horizontalAlignment\": \"Right\", \"height\": \"45px\"}]}]}, {\"type\": \"TextBlock\", \"text\": \"\\ud83d\\udccc Prompt Like a CEO !\\n\\n \", \"wrap\": true, \"weight\": \"Bolder\", \"size\": \"Large\", \"spacing\": \"Medium\"}, {\"type\": \"TextBlock\", \"text\": \"\\n\\nWant to experience the leap from GPT-4 to GPT-5? \\u2014 just click the \\u201c**Try GPT-5**\\u201d button on the top right and run one of the prompts used by **Satya Nadella** to see the difference!\", \"wrap\": true, \"spacing\": \"MEdium\"}, {\"type\": \"TextBlock\", \"text\": \"\\ud83d\\ude80 **Prompt:**\\n\\u201cReview [/select email] + prep me for the next meeting in [/series], based on past manager and team discussions.\\u201d\\n\\n\", \"wrap\": true, \"spacing\": \"Medium\", \"fontType\": \"Default\"}, {\"type\": \"TextBlock\", \"text\": \"\\u2728 **What it does:**\\n- GPT-4V gives you a basic recap\\n- GPT-5 connects emails, meetings, and team insights to prep you like a pro\", \"wrap\": true, \"spacing\": \"Medium\"}, {\"type\": \"TextBlock\", \"text\": \"\\u26a1 **Why it works\\u2014**\\n   Less digging. More clarity. Faster decisions.\", \"wrap\": true, \"spacing\": \"Medium\"}], \"actions\": [{\"type\": \"Action.OpenUrl\", \"title\": \"\\ud83e\\ude84 Lead like a CEO \\u2014 see the upgrade in action!\", \"url\": \"https://m365.cloud.microsoft\"}]}"
              },
              "runAfter": {}
            }
          }
        },
        "Licensed_Week4": {
          "case": "Licensed_Week4",
          "actions": {
            "Set_Card_Licensed_Week4": {
              "type": "SetVariable",
              "inputs": {
                "name": "AdaptiveCardJson",
                "value": "{\"type\": \"AdaptiveCard\", \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\", \"version\": \"1.6\", \"body\": [{\"type\": \"ColumnSet\", \"columns\": [{\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://uhf.microsoft.com/images/microsoft/RE1Mu3b.png\", \"size\": \"Medium\", \"horizontalAlignment\": \"Left\"}]}, {\"type\": \"Column\", \"width\": \"stretch\"}, {\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://store-images.s-microsoft.com/image/apps.59084.bf6c1406-f046-449c-8d13-421629532e71.b79e98ea-5fff-4cf6-8344-d4cfbcc42c01.d1bdf5ad-72cb-43d9-bcb0-252f99fe6a2c.png\", \"size\": \"Small\", \"horizontalAlignment\": \"Right\", \"height\": \"35px\"}]}]}, {\"type\": \"Image\", \"url\": \"https://store-images.s-microsoft.com/image/apps.9052.bf6c1406-f046-449c-8d13-421629532e71.fafdc251-b75d-461d-96ed-d9958f29045f.2e635a57-edc3-4987-8c9b-22d400bb7bf0.png\"}, {\"type\": \"TextBlock\", \"text\": \" \\u2728 Prompt like a pro with *Prompt Coach* \", \"wrap\": true, \"weight\": \"Bolder\", \"size\": \"Large\", \"spacing\": \"Small\"}, {\"type\": \"TextBlock\", \"text\": \"\\n\\n **Want to enhance results from Copilot?** Prompt Coach helps you turn vague ideas into powerful, structured prompts that deliver exactly what you need.\", \"wrap\": true, \"spacing\": \"Medium\"}, {\"type\": \"TextBlock\", \"text\": \"\\u270d\\ufe0f**Prompt:**\\n\\u201cAnalyze my prompt and provide feedback on how I could improve it.\\u201d\\n\\n\", \"wrap\": true, \"spacing\": \"Medium\", \"fontType\": \"Default\"}, {\"type\": \"TextBlock\", \"text\": \"\\ud83d\\ude80  **How does Prompt coach help ?** It transforms your rough ideas into precise, high-impact prompts \\u2014 so Copilot delivers results that are sharper, faster, and exactly what you need.\", \"wrap\": true, \"spacing\": \"Medium\"}], \"actions\": [{\"type\": \"Action.OpenUrl\", \"title\": \"\\ud83e\\ude84Click to open Prompt Coach\", \"url\": \"https://m365.cloud.microsoft/chat/?titleId=P_f0ff38f1-4d81-a9b7-dbf1-b161328daa1f\"}]}"
              },
              "runAfter": {}
            }
          }
        },
        "NonLicensed_Week1": {
          "case": "NonLicensed_Week1",
          "actions": {
            "Set_Card_NonLicensed_Week1": {
              "type": "SetVariable",
              "inputs": {
                "name": "AdaptiveCardJson",
                "value": "{\"type\": \"AdaptiveCard\", \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\", \"version\": \"1.6\", \"body\": [{\"type\": \"ColumnSet\", \"columns\": [{\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://uhf.microsoft.com/images/microsoft/RE1Mu3b.png\", \"size\": \"Medium\", \"horizontalAlignment\": \"Left\"}]}, {\"type\": \"Column\", \"width\": \"stretch\"}, {\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://store-images.s-microsoft.com/image/apps.44413.13623743226081137.44717f35-32c5-4d9e-ab80-390d1fdf3f60.6275dbfa-3261-417d-b5f0-7da8763cfb61?w=75\", \"size\": \"Small\", \"horizontalAlignment\": \"Right\", \"height\": \"35px\"}]}]}, {\"type\": \"TextBlock\", \"text\": \"\\ud83d\\ude80 Try GPT-5 in Copilot Web ! \", \"wrap\": true, \"weight\": \"Bolder\", \"size\": \"Large\", \"spacing\": \"Small\"}, {\"type\": \"TextBlock\", \"text\": \"\\n\\n **Want to lead your team into an AI-first future?** \\n\\nGPT-5 gives you sharper strategy, smarter planning, and executive-ready insights \\u2014 just click the \\u201c**Try GPT-5**\\u201d button.\", \"wrap\": true, \"spacing\": \"Medium\"}, {\"type\": \"TextBlock\", \"text\": \"\\ud83e\\udde0 **Prompt:**\\n\\n\\u201cAct as a strategic advisor helping a manager lead their team toward becoming an AI-first organization.\\u201d\\n\\n\", \"wrap\": true, \"spacing\": \"Medium\", \"fontType\": \"Default\"}, {\"type\": \"TextBlock\", \"text\": \"\\ud83d\\udd0d **GPT-5** delivers a practical guide with checklists, timelines, and leadership tone\\u2014GPT-4 won\\u2019t go this deep.\", \"wrap\": true, \"spacing\": \"Medium\"}], \"actions\": [{\"type\": \"Action.OpenUrl\", \"title\": \"\\ud83c\\udfaf Ready to see the magic? Click to try it in Copilot Chat!\", \"url\": \"https://m365.cloud.microsoft/chat/entity1-d870f6cd-4aa5-4d42-9626-ab690c041429/eyJpZCI6IlRXbGpjbTl6YjJaMFZqSjhhSFIwY0hNNkx5OXpkV0p6ZEhKaGRHVXRhVzUwTG05bVptbGpaUzVqYjIwdmZHUjFiVzE1ZkdKalltUm1NamRoTFRkalpUZ3RORFE0T0MxaFpUSTRMVFpqTnprMVpqaG1NamhsWlh4bGJpMTFjdyUzZCUzZCIsInNjZW5hcmlvIjoic2hhcmVMaW5rVmlhUHJvbXB0TGlicmFyeSIsInByb3BlcnRpZXMiOnsicHJvbXB0U291cmNlIjoibWljcm9zb2Z0IiwiY2xpY2tUaW1lc3RhbXAiOiIyMDI1LTA5LTEwVDEyOjE5OjE2LjM2M1oifSwiY2hhdFR5cGUiOiJ3ZWIiLCJ2ZXJzaW9uIjoxLjF9\"}]}"
              },
              "runAfter": {}
            }
          }
        },
        "NonLicensed_Week2": {
          "case": "NonLicensed_Week2",
          "actions": {
            "Set_Card_NonLicensed_Week2": {
              "type": "SetVariable",
              "inputs": {
                "name": "AdaptiveCardJson",
                "value": "{\"type\": \"AdaptiveCard\", \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\", \"version\": \"1.6\", \"body\": [{\"type\": \"ColumnSet\", \"columns\": [{\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://uhf.microsoft.com/images/microsoft/RE1Mu3b.png\", \"size\": \"Medium\", \"horizontalAlignment\": \"Left\"}]}, {\"type\": \"Column\", \"width\": \"stretch\"}, {\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://store-images.s-microsoft.com/image/apps.44413.13623743226081137.44717f35-32c5-4d9e-ab80-390d1fdf3f60.6275dbfa-3261-417d-b5f0-7da8763cfb61?w=75\", \"size\": \"Small\", \"horizontalAlignment\": \"Right\", \"height\": \"35px\"}]}]}, {\"type\": \"TextBlock\", \"text\": \"\\ud83d\\udcceTry GPT-5 in Copilot Web ! \", \"wrap\": true, \"weight\": \"Bolder\", \"size\": \"Large\", \"spacing\": \"Small\"}, {\"type\": \"TextBlock\", \"text\": \"\\n\\n **Want expert-level feedback on your project plan?** \\n\\nLet GPT-5 in Copilot Chat review it and suggest five impactful improvements \\u2014 complete with rationale and ready-to-insert text. \\u2014 just click the \\u201c**Try GPT-5**\\u201d button.\", \"wrap\": true, \"spacing\": \"Medium\"}, {\"type\": \"TextBlock\", \"text\": \"\\ud83d\\udccc**Prompt:**\\n\\n\\u201cReview the attached project plan [*attach project plan*] and give me five substantive ways to make it better; include rationale for your responses and specific text to insert into the plan\\u201d\\n\\n\", \"wrap\": true, \"spacing\": \"Medium\", \"fontType\": \"Default\"}, {\"type\": \"TextBlock\", \"text\": \"\\ud83d\\udcac **Why GPT-5 ?** It understands structure, context, and tone \\u2014 offering sharper suggestions and tailored edits that elevate your work.\", \"wrap\": true, \"spacing\": \"Medium\"}], \"actions\": [{\"type\": \"Action.OpenUrl\", \"title\": \"\\ud83c\\udfaf Click to try it in Copilot Chat!\", \"url\": \"https://m365.cloud.microsoft/chat/?auth=2\"}]}"
              },
              "runAfter": {}
            }
          }
        },
        "NonLicensed_Week3": {
          "case": "NonLicensed_Week3",
          "actions": {
            "Set_Card_NonLicensed_Week3": {
              "type": "SetVariable",
              "inputs": {
                "name": "AdaptiveCardJson",
                "value": "{\"type\": \"AdaptiveCard\", \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\", \"version\": \"1.6\", \"body\": [{\"type\": \"ColumnSet\", \"columns\": [{\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://uhf.microsoft.com/images/microsoft/RE1Mu3b.png\", \"size\": \"Medium\", \"horizontalAlignment\": \"Left\"}]}, {\"type\": \"Column\", \"width\": \"stretch\"}, {\"type\": \"Column\", \"width\": \"auto\", \"items\": [{\"type\": \"Image\", \"url\": \"https://store-images.s-microsoft.com/image/apps.44413.13623743226081137.44717f35-32c5-4d9e-ab80-390d1fdf3f60.6275dbfa-3261-417d-b5f0-7da8763cfb61?w=75\", \"size\": \"Small\", \"horizontalAlignment\": \"Right\", \"height\": \"35px\"}]}]}, {\"type\": \"Image\", \"url\": \"https://techcommunity.microsoft.com/t5/s/gxcuf89792/images/bS00NDY4NzA0LXhWNHhaOA\", \"height\": \"250px\", \"horizontalAlignment\": \"Center\"}, {\"type\": \"TextBlock\", \"text\": \"\\u2728 Compare Multiple Images in Copilot \", \"wrap\": true, \"weight\": \"Bolder\", \"size\": \"Large\", \"spacing\": \"Small\"}, {\"type\": \"TextBlock\", \"text\": \"\\n\\n Now you can **upload several images at once in Copilot Chat** to compare, spot details, and accelerate Q&A \\u2014 all in a single step.\", \"wrap\": true, \"spacing\": \"Medium\"}, {\"type\": \"TextBlock\", \"text\": \"\\ud83d\\udca1**Prompt:**\\n\\n\\u201c [attach images] Analyze the architecture diagrams and spot differences in components, data and security layers. Suggest which is optimal.\\u201d\\n\\n\", \"wrap\": true, \"spacing\": \"Medium\", \"fontType\": \"Default\"}, {\"type\": \"TextBlock\", \"text\": \" **\\u2705 Why it\\u2019s useful:** Compare visuals, identify differences or patterns quickly, and get instant answers about what\\u2019s in each image\", \"wrap\": true, \"spacing\": \"Medium\"}], \"actions\": [{\"type\": \"Action.OpenUrl\", \"title\": \"Click to open Copilot and try !\", \"url\": \"https://m365.cloud.microsoft/\"}]}"
              },
              "runAfter": {}
            }
          }
        }
      },
      "default": {
        "actions": {
          "Set_Card_Default": {
            "type": "SetVariable",
            "inputs": {
              "name": "AdaptiveCardJson",
              "value": "{\"type\": \"AdaptiveCard\", \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\", \"version\": \"1.6\", \"body\": [{\"type\": \"TextBlock\", \"text\": \"Welcome to Microsoft 365 Copilot Chat!\", \"wrap\": true, \"weight\": \"Bolder\", \"size\": \"Large\"}, {\"type\": \"TextBlock\", \"text\": \"Discover the power of AI-assisted productivity. Click below to get started.\", \"wrap\": true}], \"actions\": [{\"type\": \"Action.OpenUrl\", \"title\": \"Open Copilot Chat\", \"url\": \"https://m365.cloud.microsoft\"}]}"
            },
            "runAfter": {}
          }
        }
      },
      "runAfter": {
        "Set_AccessToken": [
          "Succeeded"
        ]
      }
    },
    "Get_Users_From_SharePoint": {
      "type": "Http",
      "inputs": {
        "method": "GET",
        "uri": "@{parameters('SharePointSiteUrl')}/_api/web/lists/getbytitle('CopilotPromotionUsers')/items?$filter=Status eq 'Pending' or Status eq null&$top=@{if(variables('TestMode'), 5, 5000)}",
        "headers": {
          "Authorization": "Bearer @{variables('AccessToken')}",
          "Accept": "application/json;odata=nometadata"
        }
      },
      "runAfter": {
        "Select_Adaptive_Card": [
          "Succeeded"
        ]
      }
    },
    "Process_Each_User": {
      "type": "Foreach",
      "foreach": "@body('Get_Users_From_SharePoint')?['value']",
      "actions": {
        "Create_Chat_With_User": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://graph.microsoft.com/v1.0/chats",
            "headers": {
              "Authorization": "Bearer @{variables('AccessToken')}",
              "Content-Type": "application/json"
            },
            "body": {
              "chatType": "oneOnOne",
              "members": [
                {
                  "@odata.type": "#microsoft.graph.aadUserConversationMember",
                  "roles": [
                    "owner"
                  ],
                  "user@odata.bind": "https://graph.microsoft.com/v1.0/users('@{items('Process_Each_User')?['UPN']}')"
                }
              ]
            }
          },
          "runAfter": {}
        },
        "Send_Adaptive_Card_Message": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://graph.microsoft.com/v1.0/chats/@{body('Create_Chat_With_User')?['id']}/messages",
            "headers": {
              "Authorization": "Bearer @{variables('AccessToken')}",
              "Content-Type": "application/json"
            },
            "body": {
              "body": {
                "contentType": "html",
                "content": "<attachment id=\"card\"></attachment>"
              },
              "attachments": [
                {
                  "id": "card",
                  "contentType": "application/vnd.microsoft.card.adaptive",
                  "content": "@{variables('AdaptiveCardJson')}"
                }
              ]
            }
          },
          "runAfter": {
            "Create_Chat_With_User": [
              "Succeeded"
            ]
          }
        },
        "Increment_Success_Count": {
          "type": "IncrementVariable",
          "inputs": {
            "name": "SuccessCount",
            "value": 1
          },
          "runAfter": {
            "Send_Adaptive_Card_Message": [
              "Succeeded"
            ]
          }
        }
      },
      "runAfter": {
        "Get_Users_From_SharePoint": [
          "Succeeded"
        ]
      },
      "runtimeConfiguration": {
        "concurrency": {
          "repetitions": 5
        }
      }
    },
    "Send_Summary_Response": {
      "type": "Response",
      "kind": "Http",
      "inputs": {
        "statusCode": 200,
        "body": {
          "status": "Completed",
          "campaignWeek": "@{variables('CurrentWeek')}",
          "userType": "@{variables('CurrentUserType')}",
          "successCount": "@{variables('SuccessCount')}",
          "failureCount": "@{variables('FailureCount')}"
        }
      },
      "runAfter": {
        "Process_Each_User": [
          "Succeeded",
          "Failed"
        ]
      }
    }
  },
  "outputs": {}
}